
 <div class="bg-sky-100 min-h-screen flex flex-col md:flex-row">
  <div class="w-full md:w-1/2 px-5 py-3 md:py-5">
    <h1 class="text-center font-bold text-3xl md:text-5xl mt-5 md:mt-10">
      GalaxEye Project Solution
    </h1>
    <div class="py-0 md:py-20 mx-0 md:mx-10">

      <h4 class="font-bold text-3xl text-blue-500 pb-4 pl-2">Instruction</h4>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <ul class="list-disc list-inside">
          <li class="text-lg">Click on Polygon Symbol to select the Area of Interest(AOI)</li>
          <li class="text-lg">Start Drawing the Triangle, Square, Rectangle etc...</li>
          <li class="text-lg">Tiles intersecting with the AOI shown on the frontend.</li>
          <li class="text-lg">Blue Container represents the AOI.</li>
          <li class="text-lg">Red Container represents the Intersecting Area with AOI.</li>
          <li class="text-lg">Click on edit icon to change the drawn AOI.</li>
          <li class="text-lg">Click On Clear All button to remove everything from the map.</li>

        </ul>
      </div>
    </div>
  </div>

  <div class="w-full md:w-1/2 flex flex-col">
    <div #mapContainer class="h-64 md:h-4/5 m-5 shadow-xl border border-blue-700">
    </div>
    <button
      (click)="clearAll()"
      class="bg-red-400 hover:bg-red-600 text-white font-semibold w-20 h-10 rounded shadow m-5"
    >
      Clear All
    </button>
  </div>
</div>
